<a href="https://colab.research.google.com/github/hedonistmahin/ML-Project/blob/main/1st_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Skill Morph ID: SM-ML-2025-B1-024**

H1: Write a program to perform the subtraction, multiplication and division

In [14]:
x = 100.25
y = 25.5

#subtraction

sub = x-y
print("sub : {:.3f}".format(sub))

sub : 74.750

H2: Write a program to declare variables for id, name, batch, and hometown, and assign values, and finally print.

In [15]:
id = "UG02-61-22-036"
name = "Mahin"
batch = 61
home_town = "Narayanganj"

print(f"Id : {id}\nName: {name}\nBatch: {batch}\nHometown: {home_town}")

Id : UG02-61-22-036
Name: Mahin
Batch: 61
Hometown: Narayanganj

H3: Write a program to change values of an integer variable

In [16]:
#before
var = 25
print("Before change value of var is: ", var)

#after
var = 50
print("After change value of var is: ", var)

Before change value of var is:  25
After change value of var is:  50

H4: Write a program to take two string numbers and convert them to integers using explicit type conversion.

In [17]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")

print(f"1st String number: {num1}\t {type(num1)}\n2nd String number: {num2}\t {type(num2)}")

#After Explicit Type Conversion
num1 = int(num1)
num2 = int(num2)

print(f"1st integer number: {num1}\t {type(num1)}\n2nd integer number: {num2}\t {type(num2)}")

Enter first number: 23
Enter second number: 43
1st String number: 23	 <class 'str'>
2nd String number: 43	 <class 'str'>
1st integer number: 23	 <class 'int'>
2nd integer number: 43	 <class 'int'>

H5: Write a program to calculate and print the average of the three numbers. Round the result to two decimal places.

In [18]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

avg = (a+b+c)/3

print(f"Average: {avg}\t Round the result to Two decimal places, Avarage: {avg:.2f}")

Enter first number: 34
Enter second number: 43
Enter third number: 34
Average: 37.0	 Round the result to Two decimal places, Avarage: 37.00

H6: Create a simple calculator that performs basic arithmetic operations (addition, subtraction, multiplication, division) based on user input.

In [19]:
# Simple Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

operation = input("Enter operation (+, -, *, /): ")

if operation == '+':
    output = num1 + num2
elif operation == '-':
    output = num1 - num2
elif operation == '*':
    output = num1 * num2
elif operation == '/':
    if num2 != 0:
        output = num1 / num2
    else:
        output = "Error! Division by zero."
else:
    output = "Invalid operation!"

print("Output:", output)

Enter first number: 23
Enter second number: 45
Enter operation (+, -, *, /): /
Output: 0.5111111111111111

H7: Write a program that asks the user to enter a single character and determines whether it is a vowel or a consonant.

In [20]:
char = input("Enter a single character: ").lower()

if len(char) == 1 and char.isalpha():
    if char in 'aeiou':
        print(f"{char} is a vowel.")
    else:
        print(f"{char} is a consonant.")
else:
    print("Invalid input! Please enter a single alphabet character.")

Enter a single character: e
e is a vowel.

H8: Create a program that converts temperatures between Fahrenheit and Celsius based on user input.

In [21]:
temp = float(input("Enter temperature: "))
unit = input("Enter unit (C for Celsius, F for Fahrenheit): ").upper()

if unit == 'C':
    converted = (temp * 9/5) + 32
    print(f"{temp}°C is equal to {converted:.2f}°F")
elif unit == 'F':
    converted = (temp - 32) * 5/9
    print(f"{temp}°F is equal to {converted:.2f}°C")
else:
    print("Invalid unit! Please enter C or F.")

Enter temperature: -40
Enter unit (C for Celsius, F for Fahrenheit): c
-40.0°C is equal to -40.00°F

H9: Write a program that asks the user to enter three numbers and determines which one is the largest.

In [22]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

print(f"The largest number is: {largest}")

Enter first number: 4
Enter second number: 5
Enter third number: 2
The largest number is: 5.0

H10: Write a program that prompts the user to input a number N and prints all even numbers between 1 and N using a for loop.

In [23]:
N = int(input("Enter a number: "))

for i in range(1, N + 1):
    if i % 2 == 0:
        print(i)

Enter a number: 5
2
4

H11: Write a program that prompts the user to input a number N and calculates the sum of all numbers from 1 to N that are divisible by 3 or 5.

In [24]:
N = int(input("Enter a number: "))

total = 0

for i in range(1, N + 1):
    if i % 3 == 0 or i % 5 == 0:
        total += i

print(f"Sum of numbers from 1 to {N} divisible by 3 or 5: {total}")

Enter a number: 67
Sum of numbers from 1 to 67 divisible by 3 or 5: 1064

H12: Write a program that prompts the user to input a number n and prints the multiplication table of n (1 to 10) using a for loop.

In [25]:
n = int(input("Enter a number: "))

print(f"Multiplication table of {n}:")
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number: 7
Multiplication table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70